
html{
    font-family: 'Tilt Prism', cursive;
    background-image: url(wallpaper.jpg);
    background-size: cover;
    background-position: 60%;
}


body {
    font-size: 24px;
    color: aqua;
    text-shadow: black;
    }

@media (max-width: 480px) {
    body{
    font-size: 16px;
}
}
#Introduction {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:20px
}
.intro-left, .intro-right {
 padding: auto;
 border: 1px solid purple;
 box-sizing: border-box;
}
#selfie {
    border-radius: 20%;
}
#info-grid{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
}

#title {
   align-items: center;
   text-align: center;
   font-style: italic;  
}
.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.expected-titles {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
label { 
    display: block;
    margin-bottom: 5px;
}
input, select, textarea {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
}

#message {
    height: 80px;
}

.radio-label {
   width: 10%;
   align-items: baseline;
   margin-top: 0%;
}

#contactForm {
    font-family: Arial, sans-serif;
    font-size: 14px;
    border: 1px solid purple;
    padding: 5px;
}

.button {
    background-color: blueviolet;
    color: aqua;
    margin-left: auto;
}

.Education-board{
    display: grid;
    grid-template-rows: 1fr;
    gap: 10px;
}
.school-icon, .school-text {
    padding: auto;
   }

hr {
    border: 1px darkmagenta;
    border-style: groove;
}